html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: flex-start;
  max-width: 45em;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.img-flex {
  display: block;
  width: 100%;
}

.logo {
  display: inline-block;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.logo img {
  width: 95%;
  margin: .15em 0 .15em .15em;
}

.banner-text {
  max-height: 100%;
  margin-left: 2em;
  margin-right: 1.5em;
}

div h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
  display: inline-block;
  max-width: 7em;
}

div p {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: .5em 0;
  display: inline-block;
}

.btn {
  display: inline-block;
  padding: .75em;
  text-decoration: none;
  border-radius: 8px;
  background-color: #333;
  font-size: 1.5rem;
  color: #fff;
  font-family: Roboto, sans-serif;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
  color: white;
}
