html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 1em;
  top: 2em;
  max-width: 45em;
}

.img-flex {
  display: block;
  width: 100%;
}

.logo img {
  margin: 0;
  max-width: 100%;
  width: auto;
}

div > h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
  width: 60%;
}

div > p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: .5em 0;
}

.btn {
  display: inline-block;
  padding: .45em .75em .5em;
  text-decoration: none;
  border-radius: 8px;
  background-color: #333;
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}
